@import '../../style/_vars.scss';

.main-container {
  width: 100%;
  height: 100%;
}

.signin-container{
  position: absolute;
  width: 305px;
  height: 305px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
//delete after dev
.aside-left, .aside-right, .chat-container{
  box-shadow: 1px 1px 15px $color-tertiary;
  border-radius: .5em .5em 0 0;
}

.appbar{
  height: 10%;
  margin: 0 0 1% 0;
}

.aside-left, .aside-right{
  width: 24.5%;
  height: calc(768px*.9);
  float: left;
  margin: 0 0 2% 0;
}

.aside-left{
  margin-left: .5%;
}

.aside-right{
  margin-right: .5%;
}

.chat-container{
  width: 48%;
  height: calc(768px*.9);
  float: left;
  margin: 0 1% 2% 1%;
}
