@import '../../style/_vars.scss';

.main-container {
  width: 100vw;
  height: 100vh;
}

//delete after dev
.aside-left, .aside-right, .chat-container{
  box-shadow: 1px 1px 15px $color-tertiary;
  border-radius: .5em .5em 0 0;
}

.appbar{
  height: 10vh;
  margin: 0 0 1% 0;
}

.aside-left, .aside-right{
  width: 24.5%;
  height: 85vh;
  float: left;
  margin: 0 0 1% 0;
}

.aside-left{
  margin-left: .5%;
}

.aside-right{
  margin-right: .5%;
}

.chat-container{
  width: 48%;
  height: 85vh;
  float: left;
  margin: 0 1% 1% 1%;
}
