@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//main colors
$color-primary: #45C2EF;
$color-secondary: #45E3F2;
$color-tertiary: #ADAB7A;

$color-button: #45E3F2;
$color-hover: #45C2EF;
$color-active: #6CE6E2;
$color-font: #FFF;
$color-border: #77797B;

//fonts
$font-main: 'Roboto', sans-serif;
$fontface-sans-serif: sans-serif;

//error classes
$error-close-box: #e0acac;
$error-close-box-mouseover: #7c7e7f;
$error-box-background: #f2dede;
$error-box-border: #e8b3b0;
$error-box-text: #a94442;

//default colors
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #e3e5e8;
$color-grey: #8396A8;
$color-darkgrey: #77797B;

$pad: 0.5em;
